body {
  font-family: 'Segoe UI', Tahoma;
  background-color: #121212;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  text-align: center;
}

.pad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.pad {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #2a2a2a;
  border: 4px solid #444;
  border-radius: 10px;
  transition: all 0.75s smooth;
}

.pad span {
  color: #fff;
  font-size: 56px;
}

.pad.playing {
  background-color: #00ffcc;
  border: 4px solid #00ffcc;
  box-shadow: 0 0 15px #00ffcc;
  transform: scale(1.05);
}
